---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "2025 - Actualidad",
        title: "Desarrollador Full Stack",
        company: "VLIM",
        description:
            "Participo en el desarrollo y mantenimiento de sistemas web administrativos orientados a optimizar procesos operativos. He implementado interfaces en React para frontend, servicios backend con Moleculer y consumo/diseño de API REST para la integración entre módulos. También trabajo con modelado y consultas en bases de datos MySQL y PostgreSQL, aplicando validaciones, lógica de negocio y mejoras de usabilidad para entregar soluciones estables, escalables y enfocadas en resultados.",
        link: "#",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
