---
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
---

<div class="max-w-x1">
    <div class="flex gap-4 mb-4">
        <img
            class="rounded-full size-24 shadow-lg"
            src="/me.jpg"
            alt="Alexander Martínez Zuñiga"
        />
    </div>
    <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl"
    >
        ¡Hola, soy Oliver!
    </h1>
    <p
        class="mt-6 text-xl text-slate-700 [&>strong]:text-[#0b3a66] [&>strong]:font-semibold"
    >
        <span class="text-[#0f4c81]"
            >Ingeniero en Desarrollo y Gestión de Software</span
        >. Desarrollador Web Junior con enfoque full stack, en constante
        aprendizaje. Desde México, construyo sistemas web que resuelven
        problemas reales y aportan valor operativo.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://github.com/alexandervlim43">
            <GitHubIcon class="size-4 md:size-6" />
            GitHub
        </SocialPill>
        <SocialPill
            href="https://www.linkedin.com/in/alexander-martinez-580028276/"
        >
            <LinkedInIcon class="size-4 md:size-6" />
            LinkedIn
        </SocialPill>
        <SocialPill href="mailto:losmartinez12345@gmail.com">
            <MailIcon class="size-4 md:size-6" />
            losmartinez12345@gmail.com
        </SocialPill>
    </nav>
</div>
